.pokemon-sprite {
    width: 40px; 
    height: 40px;
    margin-right: 10px; 
    vertical-align: middle; 
  }
  
  mat-list-item {
    display: flex;
    align-items: center; 
  }
  
  span {
    flex-grow: 1; 
  }