    
    $primary-color : rgb(249, 244, 234);
    $secondary-color :rgb(220, 199, 157);

body {
    background-color:$primary-color ;

}

main {
    .historia{
        background-color: $secondary-color;
    }
    
}